@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    justify-content: center;
   
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 23px;
}
.center {
    margin: auto;
    text-align: center;
    width: 60%;
}

.header {
    background-color: #1f264f ;
    padding: 25px 25px;
    text-align: center;
}

.header h1 {
    margin: 0;
}


nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size:25px;
}
main {
    text-align: center;
}

.featured-album, .album-details, .merchandise-section {
    padding: 40px;
    text-align: center;
}

.featured-album img, .album-info img, .merch-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.additional-album img {
    padding: 10px;
}
.listen-button, .add-to-cart {
    background-color: #808ac4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
}

.listen-button:hover {
    background-color: #808ac4;
}

.tracklist ul {
    list-style-type: none;
    padding: 0;
}

.tracklist li {
    margin: 5px 0;
}

.playlist-container {
    width:100%;
    background: linear-gradient(135deg, #0b1b3f, #122142);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.album-info {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    
}

.album-info img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.album-details h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.artist {
    margin: 8px 0;
    color: #bbb;
}

.save-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}
.play-btn {
    background-color: #808ac4;  
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.play-btn:hover {
    background-color: #5c69af;  
}
.save-btn:hover {
    background-color: #383c62;
}
.tracklist-listen {
    background-color: #1b2b48;
    padding: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #334e7a;
}

.track:last-child {
    border-bottom: none;
}

.track-number {
    color: #aaa;
    width: 30px;
}

.track-details {
    flex-grow: 1;
}

.track-title {
    margin: 0;
    font-size: 16px;
    color: white;
}

.track-artist {
    margin: 4px 0 0;
    font-size: 14px;
    color: #bbb;
}

.track-duration {
    color: #aaa;
}

.merch-item {
    margin: 30px 0;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    background-color:  #161833;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.merch-item h3 {
    margin: 10px 0 5px;
    font-size: 25px;
}

.merch-item p {
    margin: 0 0 10px;
}

.add-to-cart:hover{
    background-color: #5c69af;
}

.footer {
    background-color: #1d1d1d;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.form-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding: 30px;
}

.order-form {
    background-color: #808ac4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(32, 31, 89, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    border: 2px solid #334e7a; 
    font-family:'Cormorant Garamond', sans-serif;
}


.order-form label {
    display: block;
    font-size:20px;
    margin-top: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.order-form input,
.order-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #9aa5e0;
    border-radius: 5px;
    box-sizing: border-box;
}

.order-form button {
    background-color: #334e7a; 
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-family:'Cormorant Garamond', sans-serif;
    transition: background-color 0.3s ease;
}

.order-form button:hover {
    background-color: #263e64; 
}
